<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASTAR</title>
    <link rel="stylesheet" type="text/css" href="./../../dist/fullpage.css" />
    <link rel="stylesheet" href="./../../assets/css/styles.css" />
  </head>
  <body>
    <div class="wrap">
      <aside class="visual-background type1"></aside>
      <header class="header">
        <div class="w-section">
          <a href="#" class="logo">ASTAR</a>
          <button class="gnb-toggle-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <nav class="gnb-layer">
            <div class="w-section">
              <button type="button" class="gnb-menu" data-link="main">
                <strong class="name">MAIN</strong>
                <span class="desc"
                  >아스타와 함께<br />은하계로 떠나볼까요?</span
                >
                <span class="icon"></span>
              </button>
              <button type="button" class="gnb-menu" data-link="about">
                <strong class="name">ABOUT ASTAR</strong>
                <span class="desc"
                  >우리는 누구나 별이 될 수<br />있도록 돕는 AI 기술 기반의<br />스타트업</span
                >
                <span class="icon"></span>
              </button>
              <button type="button" class="gnb-menu" data-link="business">
                <strong class="name">BUSINESS</strong>
                <span class="desc"
                  >ASTAR의 압도적인<br />AI 기술력으로 새로운 세상의<br />빅뱅을
                  목표로</span
                >
                <span class="icon"></span>
              </button>
              <button type="button" class="gnb-menu" data-link="company">
                <strong class="name">COMPANY</strong>
                <span class="desc"
                  >함께 고민해 더 빨리 비즈니스가 빛나도록 하는 것이<br />아스타의
                  의무이니까요.</span
                >
                <span class="icon"></span>
              </button>
            </div>
          </nav>
        </div>
      </header>
      <main class="container about">
        <section class="section visual-area">
          <div class="visual-section">
            <aside class="v-prev">
              <div class="img-plant"></div>
              <button class="btn-link">
                CONTACT US
                <span class="animate-arrow"></span>
              </button>
            </aside>
            <article class="v-crnt">
              <div class="img-plant"></div>
              <div class="v-info">
                <hgroup class="title-group">
                  <h5 class="t-summary">INTRO</h5>
                  <h3 class="t-title">Anyone can be a STAR</h3>
                </hgroup>
                <p class="v-info-text">
                  <strong
                    >우리는 누구나 별이 될 수 있도록 돕는
                    <br class="mobile" />AI 기술 기반의 스타트업</strong
                  >
                  입니다.<br />자사만의 Thinking AI는 다양한 분야에서 적용되어
                  <br class="mobile" />
                  꿈꾸는 별이 될 수 있도록 돕고 있습니다.
                </p>
              </div>
              <div class="v-desc">
                <p class="txt">아스타 은하계로 함께 떠나볼까요?</p>
                <span class="animate-scroll-down"></span>
              </div>
              <div class="m-desc">
                <ul class="p-container"></ul>
                <div class="desc-text">
                  <p class="txt">READ MORE</p>
                  <span class="animate-scroll-down"></span>
                </div>
            </article>
            <aside class="v-next">
              <button class="btn-link">
                CONTACT US
                <span class="animate-arrow"></span>
              </button>
              <div class="img-plant"></div>
            </aside>
          </div>
        </section>
        <section class="section w-section">
          <hgroup class="title-group">
            <h3 class="t-title">ABOUT ASTAR</h3>
            <h5 class="t-summary">The brightest star, ASTAR</h5>
          </hgroup>
        </section>
      </main>
      <footer class="footer">
        <div class="w-section">
          <div class="footer-info">
            <h1 class="logo">ASTAR</h1>
            <div class="info-group">
              <button type="button" class="btn-txt">이용약관</button>
              <button type="button" class="btn-txt">개인정보처리방침</button>
              <button type="button" class="btn-fill">사업자등록정보</button>
            </div>
          </div>
          <div class="footer-address">
            <p class="address-txt">
              <strong>(주)아스타</strong><span>대표이사 이재원</span>
            </p>
            <p class="address-txt">
              <span>사업자등록번호 835-86-02596</span
              ><span>통신판매업신고번호 2023-서울마포-0363</span>
            </p>
            <p class="address-txt">
              <span>서울특별시 마포구 백범로31길 21 서울창업허브</span
              ><span>070-8098-1839</span><span>astarcompany6@gmail.com</span>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="./../../dist/fullpage.js"></script>
    <script type="text/javascript">
      var myFullpage = new fullpage(".container");
    </script>
    <script type="module" src="../../assets/js/main.js"></script>
    <script type="module">
      import { bgAnimation } from "../../assets/js/main.js";
      bgAnimation();
    </script>
  </body>
</html>
