// default
$font-famliy: 'gmarket', 'Malgun Gothic';
$font-weight: 300;
$font-size: 16px;
$font-color: #fff;
$line-height: 28px;

// width
$w-full: 100vw;
$w-content: 1180px;

// z-index
$z-hide: -1;
$z-layout: 9;
$z-layer: 99;
$z-toggle-layer: 999;

// color
$c-primary: #54FAD2;