// default
$font-famliy: "montserrat", "gmarket", "Malgun Gothic";
$font-weight: 300;
$font-size: 16px;
$font-color: #fff;
$line-height: 1.75;

// width
$w-full: 100vw;
$w-content: 1180px;
$h-full: 100vh;
$h-content: calc(100vh - 90px);

$m-section-full: 73px;
$m-section-scroll: 96px;

// z-index
$z-hide: -1;
$z-layout: 9;
$z-layer: 99;
$z-toggle-layer: 999;

// color
$c-primary: #54fad2;

// img
$img-main: "../images/img_star_main.png";
$img-about: "../images/img_star_about.png";
$img-business: "../images/img_star_business.png";
$img-company: "../images/img_star_company.png";
