/* ##############################
# layout - container
################################*/
.container {
  position: relative;
  // padding-top: 90px;
  .w-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: $h-full;
    padding-top: 90px;
  }
}
.w-section {
  width: $w-content;
  margin: 0 auto;
}
///************************************
//# Responsive - tablet & mobile
//************************************
@include tablet {
  .w-section {
    width: $w-full;
    padding: 0 21px;
  }
}
///************************************
//# Responsive - mobile
//************************************
@include mobile {
}
