/* ##############################
# layout - footer
################################*/
.footer {
  position: relative;
  background:  url('../images/footer_bg.png') no-repeat 50% 100% ;
  height: 398px;
  margin-top: 154px;
  font-size: $font-size;
  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-address {
    margin-top: 21px;
  }
}

.footer-info {
  .logo {
    background: transparent url("../images/footer_logo.png") no-repeat 50% 50%;
    width: 154px;
    height: 32px;
    margin-right: auto;
    @include hidden-txt;
  }
  .info-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 34px;
    font-size: inherit;
  }
}

.footer-address {
  .address-txt {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 15px;
    color: #969696;
    strong {
      font-size: inherit;
      color: $font-color;
    }
    span {
      font-size: inherit;
      color: inherit;
    }
  }
}
//************************************
//# Responsive - tablet & mobile
//************************************
@include tablet {
  .footer-info {
    flex-direction: column;
    font-size: 10px;
    .logo {
      margin: 0 0 19px;
    }
  }
  .footer-address {
    flex-direction: column;
    .address-txt {
      justify-content: center;
      gap: 10px;
      margin-bottom: 10px;
      font-size: 10px;
      &:not(:first-child) {
        flex-direction: column;
      }
    }
  }
}
