//************************************
//# layout - Header
//************************************
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: $z-layout;
  > .w-section {
    position: relative;
    height: 90px;
    padding: 16px 0;
  }
  .logo {
    display: block;
    background: transparent url("../images/logo_horizontal.svg") no-repeat 50%
      50% / cover;
    width: 73px;
    height: 58px;
    margin: 0 auto;
    @include hidden-txt;
  }
  &.is-show .gnb-layer {
    transform: translateY(0vh);
    z-index: $z-layer;
    opacity: 1;
  }
  .gnb-layer {
    transform: translateY(-100vh);
    z-index: $z-layer;
    opacity: 1;
  }
}
@include tablet {
  .header {
    > .w-section {
      height: 70px;
      padding: 13px 0;
    }
    .logo {
      width: 55px;
      height: 44px;
    }
    .gnb-toggle-btn {
      top: 0;
    }
    &.is-show {
      background-color: #000;
    }
  }
}
//************************************
//# Hamburger Animation
//************************************
.gnb-toggle-btn {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 70px;
  height: 70px;
  padding: 25px;
  z-index: $z-toggle-layer;
  span {
    position: absolute;
    top: 0;
    right: 25px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: top 0.2s ease-in-out 0.4s, transform 0.4s ease-in-out,
      opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out 0.4s, transform 0.4s ease-in-out,
      opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out 0.4s, transform 0.4s ease-in-out,
      opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out;
    -ms-transition: top 0.2s ease-in-out 0.4s, transform 0.4s ease-in-out,
      opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out;
    &:nth-child(1) {
      top: 27px;
    }
    &:nth-child(2),
    &:nth-child(4) {
      top: 35px;
      width: 13px;
    }
    &:nth-child(3) {
      top: 43px;
    }
  }
  // active
  &.is-active span {
    transition: top 0.2s ease-in-out, transform 0.4s ease-in-out 0.2s,
      opacity 0.1s ease-in-out 0.2s;
    -webkit-transition: top 0.2s ease-in-out, transform 0.4s ease-in-out 0.2s,
      opacity 0.1s ease-in-out 0.2s;
    -moz-transition: top 0.2s ease-in-out, transform 0.4s ease-in-out 0.2s,
      opacity 0.1s ease-in-out 0.2s;
    -ms-transition: top 0.2s ease-in-out, transform 0.4s ease-in-out 0.2s,
      opacity 0.1s ease-in-out 0.2s;
    &:nth-child(1) {
      top: 35px;
      @include transform(rotate(45deg));
    }
    &:nth-child(2) {
      top: 35px;
      opacity: 0;
    }
    &:nth-child(3) {
      top: 35px;
      @include transform(rotate(-45deg));
    }
  }
}

//************************************
//# gnb menu layer
//************************************
.gnb-layer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  will-change: transform;
  transform: translateY(-100vh);
  transition: transform 1.2s ease-in-out;
  .w-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.gnb-menu {
  position: relative;
  flex: 0 0 282px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 241px 0 0 40px;
  overflow: hidden;
  .name {
    display: inline-flex;
    align-items: center;
    height: 70px;
    line-height: 34px;
    font-size: 26px;
    font-weight: inherit;
  }
  .desc {
    display: block;
    min-height: 84px;
    margin-top: 34px;
    font-weight: inherit;
  }
  .icon {
    display: block;
    width: 32px;
    height: 32px;
    margin-top: 32px;
  }
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 358px;
    background: transparent no-repeat 0 0 / 500px 500px;
  }
  &:hover {
    background: transparent url("../images/bg_gnb_active.png") no-repeat 0 0 /
      cover;
    font-weight: 600;
  }
  // icon
  &[data-link="main"]::before {
    @include plantImg("main");
  }
  &[data-link="about"]::before {
    @include plantImg("about");
  }
  &[data-link="business"]::before {
    @include plantImg("business");
  }
  &[data-link="company"]::before {
    @include plantImg("company");
  }
}
@include tablet {
  .gnb-layer {
    top: 70px;
    height: calc(100vh - 70px);
    .w-section {
      flex-direction: column;
    }
  }
  .gnb-menu {
    flex: 1 1 auto;
    height: calc(25vh - 17.5px);
    width: 100vw;
    padding: 0 37px;
    .name {
      flex: 1;
      font-size: 18px;
    }
    .desc,
    .icon {
      display: none;
    }
    &::before {
      background-size: 215px;
      width: 160px;
      height: 110px;
    }
    &:hover {
      background-image: url("../images/bg_gnb_active_m.png");
      font-weight: 600;
    }
  }
}
