@function bg-gradient($light: false) {
  @if $light {
    @return linear-gradient(
        180deg,
        rgba(116, 119, 129, 0.6) 0%,
        rgba(88, 90, 97, 0.08) 73.44%,
        rgba(69, 70, 74, 0) 100%
      ),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.39),
        rgba(255, 255, 255, 0.08)
      );
  } @else {
    @return linear-gradient(
        180deg,
        rgba(11, 22, 24, 1) 0%,
        rgba(8, 9, 12, 1) 73.44%,
        rgba(2, 2, 5, 1) 100%
      ),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.39),
        rgba(255, 255, 255, 0.08)
      );
  }
}

@mixin gradient-box($name, $light: false) {
  .#{$name} {
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid transparent;
      border-radius: 15px;
      background-image: bg-gradient($light);
      background-origin: border-box;
      background-clip: content-box, border-box;
      z-index: -1;
    }
    @content;
  }
}

//************************************
//# Circle
//************************************
@property --outline-rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@property --blur-rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes outline-spin {
  0% {
    --outline-rotate: 0deg;
    --blur-rotate: 0deg;
  }
  100% {
    --outline-rotate: 359deg;
    --blur-rotate: 359deg;
  }
}
@mixin outline-circle($blur) {
  .outline-circle {
    position: relative;
    display: block;
    border-radius: 50%;
    background: linear-gradient(
      var(--outline-rotate),
      rgba(83, 247, 202, 1),
      rgba(83, 247, 208, 0.3) 60%,
      rgba(83, 247, 208, 0) 85%
    );
    width: 100%;
    aspect-ratio: 1 / 1;
    animation: outline-spin 2.5s linear infinite;
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      right: 3px;
      bottom: 3px;
      display: block;
      border-radius: 50%;
      background: #000 no-repeat 50% 50%;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      z-index: -1;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      filter: blur($blur);
      background-image: linear-gradient(
        var(--outline-rotate),
        rgba(83, 247, 202, 0.5),
        rgba(83, 247, 208, 0.3) 60%,
        rgba(83, 247, 208, 0)
      );
      opacity: 1;
      transition: opacity 0.5s;
      animation: outline-spin 2.5s linear infinite;
    }
    @content;
  }
}

@mixin gradient-circle($width, $blur: 40px) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $width;
  aspect-ratio: 1 / 1;
  color: #fff;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-image: linear-gradient(
      90deg,
      rgba(83, 247, 202, 1),
      rgba(83, 247, 208, 0) 30%,
      rgba(83, 247, 208, 0) 80%,
      rgba(83, 247, 208, 0) 100%
    );
    background-origin: border-box;
    background-clip: content-box, border-box;
    height: 100%;
    width: 100%;
    transform: rotate(var(--outline-rotate));
    animation: outline-spin 5s linear infinite;
    opacity: 1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    display: block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 1);
    transform: rotate(var(--blur-rotate));
    box-shadow: -5px 0px 6px 0px rgb(83, 247, 202);
    animation: outline-spin 5s linear infinite;
    z-index: 1;
  }
}
