@function bg-gradient($light: true) {
  @if $light {
    @return linear-gradient(
      180deg,
      rgba(11, 22, 24, 1) 0%,
      rgba(8, 9, 12, 1) 73.44%,
      rgba(2, 2, 5, 1) 100%
    );
  } @else {
    @return linear-gradient(
      180deg,
      rgba(46, 47, 53, 1) 0%,
      rgba(9, 9, 12, 1) 73.44%,
      rgba(3, 3, 6, 1) 100%
    );
  }
}

@mixin gradient-box($name) {
  .#{$name} {
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid transparent;
      border-radius: 15px;
      background-image: bg-gradient(true),
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.39),
          rgba(255, 255, 255, 0.08)
        );
      background-origin: border-box;
      background-clip: content-box, border-box;
      z-index: -1;
    }
    @content;
  }
}

//************************************
//# Circle
//************************************
@property --outline-rotate {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}
@property --blur-rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes outline-spin {
  0% {
    --outline-rotate: 0deg;
    --blur-rotate: 0deg;
  }
  100% {
    --outline-rotate: 360deg;
    --blur-rotate: 360deg;
  }
}
@mixin outline-circle($width, $blur) {
  .outline-circle {
    position: relative;
    display: block;
    border-radius: 50%;
    background: linear-gradient(
      var(--outline-rotate),
      rgba(83, 247, 202, 1),
      rgba(83, 247, 208, 0.3) 60%,
      rgba(83, 247, 208, 0) 85%
    );
    width: $width;
    aspect-ratio: 1 / 1;
    animation: outline-spin 2.5s linear infinite;
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      display: block;
      border-radius: 50%;
      background: #000 no-repeat 50% 50%;
      width: calc($width - 6px);
      height: calc($width - 6px);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      z-index: -1;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      filter: blur($blur);
      background-image: linear-gradient(
        var(--outline-rotate),
        rgba(83, 247, 202, 0.5),
        rgba(83, 247, 208, 0.3) 60%,
        rgba(83, 247, 208, 0)
      );
      opacity: 1;
      transition: opacity 0.5s;
      animation: outline-spin 2.5s linear infinite;
    }
    @content;
  }
}

@mixin gradient-circle($width, $blur: 40px) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(
      var(--outline-rotate),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    ),
    linear-gradient(
      var(--outline-rotate),
      rgba(83, 247, 202, 1),
      rgba(83, 247, 208, 0.3) 60%,
      rgba(83, 247, 208, 0) 85%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: $width;
  aspect-ratio: 1 / 1;
  color: #fff;
  text-align: center;
  animation: outline-spin 2.5s linear infinite;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    transform: rotate(var(--blur-rotate));
    box-shadow: -5px 0px 5px 0px rgba(83, 247, 202, 0.5);
    animation: outline-spin 2.5s linear infinite;
  }
}
