//************************************
//# Page Title
//************************************
.title-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  .t-summary {
    font-size: 18px;
    color: $c-primary;
    font-weight: 600;
  }
  .t-title {
    line-height: 1.2;
    font-size: 36px;
    font-weight: 600;
  }
}
@include mobile {
  .title-group {
    gap: 5px;
    .t-summary {
      font-size: 12px;
    }
    .t-title {
      font-size: 16px;
    }
  }
}
//************************************
//# Title
//***********************************
.h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
}
.h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
}
.h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}
.h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}
.h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}
///************************************
//# Font color
//************************************
.c-primary {
  font-size: inherit;
  font-weight: inherit;
  color: $c-primary;
}
.fw-bold {
  font-weight: 600;
}
