//************************************
//# Visual Area
//************************************
.visual-area {
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s 3s linear;
}
.visual-area.isPageActive {
  opacity: 1;
}
.visual-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: calc(100vw + 240px);
  height: 100vh;
  margin: 0 -120px;
}

.v-prev,
.v-next {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  width: auto;
  transform: translateY(-50%);
  z-index: 1;
  .btn-link {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
    font-weight: 600;
    &:hover {
      .animate-arrow {
        animation-name: plant-arrow;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }
  }
  .animate-arrow {
    position: relative;
    border-radius: 2px;
    background-color: #fff;
    width: 30px;
    height: 2px;
    &::before {
      content: "";
      position: absolute;
      display: block;
      border: 2px solid transparent;
      border-radius: 2px;
      width: 15px;
      height: 15px;
      transform: translateY((calc(-50% + 1px))) rotate(45deg);
    }
  }
}
.v-prev {
  left: 120px;
  .animate-arrow {
    align-self: flex-start;
    &::before {
      left: 2px;
      border-left-color: #fff;
      border-bottom-color: #fff;
    }
  }
}
.v-next {
  right: 120px;
  text-align: right;
  .animate-arrow {
    animation-direction: reverse;
    align-self: flex-end;
    &::before {
      right: 0;
      border-right-color: #fff;
      border-top-color: #fff;
    }
  }
}
.v-crnt {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .img-plant {
    position: relative;
    display: block;
    border-radius: 50%;
    background: url("../../assets/images/bg_planet.png") repeat 200% 100%;
    width: 180px;
    aspect-ratio: 1 / 1;
    backdrop-filter: opacity(20%);
    animation: planet-rotate 100s linear infinite;
    &::after {
      content: "";
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $c-primary;
      backdrop-filter: opacity(20%);
      opacity: 0.5;
    }
  }
  .v-info {
    overflow: hidden;
  }
  .title-group {
    align-items: flex-start;
    text-align: left;
    gap: 20px;
  }
  .t-title {
    font-size: 28px;
  }
  .v-info-text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    > strong {
      font-size: inherit;
      font-weight: 600;
    }
  }
}
.v-desc {
  position: absolute;
  left: 0;
  bottom: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  text-align: center;
  cursor: pointer;
  .txt {
    display: block;
    margin-bottom: 5px;
    font-size: inherit;
    color: $c-primary;
  }
  .animate-scroll-down {
    // @include mouse-wheel;
    @include fill-arrow;
  }
}
.m-desc {
  display: none;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 170px;
  padding-top: 65px;
  margin: auto;
  overflow: hidden;
  z-index: 99;
  .desc-text {
    position: absolute;
    bottom: 24px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    .txt {
      font-size: 12px;
      font-weight: 600;
    }
    .animate-scroll-down {
      @include fill-arrow;
    }
  }
}
// 모바일 전용 인터렉션
.p-container {
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  transition: all 0.5s linear;
  .planet {
    position: absolute;
    border-radius: 50%;
    background: transparent no-repeat 50% 50% / 50px 50px;
    width: 30px;
    height: 30px;
    transition: transform 0.4s linear;
    will-change: transform;
  }
  .is-active {
    transition: all 0.4s linear;
    transform: scale(1.5);
    will-change: transform;
  }
  .planet {
    &:nth-child(1) {
      background-image: url("./../images/img_star_main.png");
      top: -15px;
      left: 0;
      right: 0;
      margin: auto;
      box-shadow: 0px 0px 30px 5px rgba(80, 255, 235, 0.6);
    }
    &:nth-child(2) {
      background-image: url("./../images/img_star_about.png");
      right: 28px;
      top: 26px;
      box-shadow: 0px 0px 30px 5px rgba(240, 158, 72, 0.6);
    }
    &:nth-child(3) {
      background-image: url("./../images/img_star_business.png");
      right: -16px;
      bottom: 132px;
      box-shadow: 0px 0px 30px 5px rgba(211, 103, 24, 0.5);
    }
    &:nth-child(4) {
      background-image: url("./../images/img_star_company.png");
      right: 28px;
      bottom: 26px;
      box-shadow: 0px 0px 30px 5px rgba(246, 128, 255, 0.5);
    }
    &:nth-child(5) {
      background-image: url("./../images/img_star_main.png");
      bottom: -15px;
      left: 0;
      right: 0;
      margin: auto;
      box-shadow: 0px 0px 30px 5px rgba(80, 255, 235, 0.6);
    }
    &:nth-child(6) {
      background-image: url("./../images/img_star_about.png");
      left: 28px;
      bottom: 26px;
      box-shadow: 0px 0px 30px 5px rgba(240, 158, 72, 0.6);
    }
    &:nth-child(7) {
      background-image: url("./../images/img_star_business.png");
      left: -16px;
      top: 132px;
      box-shadow: 0px 0px 30px 5px rgba(211, 103, 24, 0.5);
    }
    &:nth-child(8) {
      background-image: url("./../images/img_star_company.png");
      left: 28px;
      top: 26px;
      box-shadow: 0px 0px 30px 5px rgba(246, 128, 255, 0.5);
    }
  }
}
@keyframes plant-arrow {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  50% {
    transform: translateX(-20px);
    opacity: 0;
  }
  51% {
    transform: translateX(20px);
    opacity: 0;
  }
  52% {
    transform: translateX(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
//************************************
//#
//************************************
$size: 380px;
$rotate: 50vw;
.v-carousel {
  margin: 0 auto;
  width: calc(100vw - 720px);
  height: $size;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 4000px;
  &-container {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
}
.c-item {
  display: flex;
  justify-items: center;
  transform-style: preserve-3d;
  @for $i from 0 through 3 {
    &:nth-child(#{$i + 1}) {
      transform: rotateY(#{$i * 90}deg)
        translateZ($rotate)
        rotateY(#{$i * 90 * -1}deg);
    }
  }
  .v-info {
    transition: opacity 0.5s 0.5s;
  }
  &.is-active {
    .c-item-container {
      display: flex;
      gap: 10px;
      width: 100%;
      left: 0%;
    }
    .v-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 1;
      transition: opacity 0.5s 0s;
    }
    .img-plant {
      width: 200px;
    }
  }
  .c-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - ($size/2));
    width: $size;
    height: $size;
    color: #fff;
    transition: all 1s;
    transform-style: preserve-3d;
  }
  &.main .img-plant {
    background-color: $c-main;
    box-shadow: inset -32px -32px 32px #000, 0 0 32px $c-main;
    &::after {
      background-color: $c-main;
    }
  }
  &.about .img-plant {
    background-color: $c-about;
    box-shadow: inset -32px -32px 32px #000, 0 0 32px $c-about;
    &::after {
      background-color: $c-about;
    }
  }
  &.business .img-plant {
    background-color: $c-business;
    box-shadow: inset -32px -32px 32px #000, 0 0 32px $c-business;
    &::after {
      background-color: $c-business;
    }
  }
  &.company .img-plant {
    background-color: $c-company;
    box-shadow: inset -32px -32px 32px #000, 0 0 32px $c-company;
    &::after {
      background-color: $c-company;
    }
  }
}
///************************************
//# Responsive - tablet
//************************************
@include tablet {
  .v-carousel,
  .v-prev,
  .v-next {
    top: calc(50% - 190px);
  }
  .v-carousel {
    width: calc(100vw - 500px);
  }
  .c-item {
    .c-item-container {
      flex-direction: column;
      align-items: center;
    }
  }
  .v-info {
    position: absolute;
    top: 340px;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
    .title-group {
      align-items: center;
      text-align: center;
    }
    .v-info-text {
      text-align: center;
    }
  }
}
///************************************
//# Responsive - mobile
//************************************
@include mobile {
  .visual-section {
    padding-top: 16vmin;
  }
  .v-prev {
    left: 0;
  }
  .v-next {
    right: 0;
  }
  .v-prev,
  .v-next {
    .btn-link {
      font-size: 0;
      height: 220px;
      .menu {
        font-size: inherit;
      }
    }
    .animate-arrow {
      background-color: transparent;
      width: 15px;
      height: 100%;
      margin: 0 20px;
      &::before {
        top: 50%;
        width: 25px;
        height: 25px;
        transform: translateY(calc(-50% - 15px)) rotate(45deg);
      }
    }
  }
  .v-carousel-container {
    .c-item {
      @for $i from 0 through 3 {
        &:nth-child(#{$i + 1}) {
          transform: rotateY(#{$i * 90}deg)
            translateZ(100vw)
            rotateY(#{$i * 90 * -1}deg);
        }
      }
    }
    .img-plant {
      position: relative;
      width: 220px;
    }
    .v-info {
      top: calc(16vmin + 240px); // visual-section 기준
      left: 50%;
      transform: translateX(-50%);
      .title-group {
        .t-summary {
          font-size: 14px;
        }
        .t-title {
          font-size: 20px;
        }
      }
      .v-info-text {
        margin-top: 20px;
        line-height: 20px;
        font-size: 12px;
      }
    }
  }
  .v-desc {
    display: none;
  }
  .m-desc {
    display: flex;
  }
}
