//************************************
//# Visual Area
//************************************
.visual-area {
  position: relative;
  overflow-x: hidden;
}
.visual-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: $w-full;
  height: $h-full;
}

.v-prev,
.v-next {
  display: flex;
  align-items: center;
  width: 270px;
  z-index: 1;
  .img-plant {
    flex: none;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 240px;
  }
  .btn-link {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
    font-weight: 600;
    &:hover {
      .animate-arrow {
        animation-name: plant-arrow;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }
  }
  .animate-arrow {
    position: relative;
    border-radius: 2px;
    background-color: #fff;
    width: 30px;
    height: 2px;
    &::before {
      content: "";
      position: absolute;
      display: block;
      border: 2px solid transparent;
      border-radius: 2px;
      width: 15px;
      height: 15px;
      transform: translateY((calc(-50% + 1px))) rotate(45deg);
    }
  }
}
.v-prev {
  .img-plant {
    background-image: url($img-company);
    background-position-x: 100%;
  }
  .animate-arrow {
    align-self: flex-start;
    &::before {
      left: 2px;
      border-left-color: #fff;
      border-bottom-color: #fff;
    }
  }
}
.v-next {
  text-align: right;
  .img-plant {
    background-image: url($img-about);
    background-position-x: 0;
  }
  .animate-arrow {
    animation-direction: reverse;
    align-self: flex-end;
    &::before {
      right: 0;
      border-right-color: #fff;
      border-top-color: #fff;
    }
  }
}
// images
.v-prev,
.v-next {
  &.main .img-plant {
    background-image: url("./../images/img_star_main.png");
  }
  &.about .img-plant {
    background-image: url("./../images/img_star_about.png");
  }
  &.business .img-plant {
    background-image: url("./../images/img_star_business.png");
  }
  &.company .img-plant {
    background-image: url("./../images/img_star_company.png");
  }
}
.v-crnt {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .img-plant {
    position: relative;
    display: block;
    background: transparent no-repeat 50% 50% / contain;
    width: 380px;
    height: 380px;
    canvas {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200%;
      aspect-ratio: 1/1;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }
  .v-info {
    .title-group {
      align-items: flex-start;
      text-align: left;
      gap: 20px;
    }
    .t-title {
      font-size: 28px;
    }
    .v-info-text {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 400;
      > strong {
        font-size: inherit;
        font-weight: 600;
      }
    }
  }
  .v-desc {
    position: absolute;
    left: 0;
    bottom: 10vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    text-align: center;
    cursor: pointer;
    .txt {
      display: block;
      margin-bottom: 5px;
      font-size: inherit;
      color: $c-primary;
    }
    .animate-scroll-down {
      // @include mouse-wheel;
      @include fill-arrow;
    }
  }
  .m-desc {
    display: none;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 170px;
    padding-top: 65px;
    margin: auto;
    overflow: hidden;
    .desc-text {
      position: absolute;
      bottom: 24px;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      .txt {
        font-size: 12px;
        font-weight: 600;
      }
      .animate-scroll-down {
        @include fill-arrow;
      }
    }
  }
  // 모바일 전용 인터렉션
  .p-container {
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    transition: transform 0.7s ease-in;
    .planet {
      position: absolute;
      border-radius: 50%;
      background: transparent no-repeat 50% 50% / 50px 50px;
      width: 30px;
      height: 30px;
      transition: transform 0.4s linear;
      will-change: transform;
    }
    .is-active {
      transition: transform 0.4s ease-in;
      transform: scale(1.5);
      will-change: transform;
    }
    .planet {
      &:nth-child(1) {
        background-image: url("./../images/img_star_main.png");
        top: -15px;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 0px 0px 30px 5px rgba(80, 255, 235, 0.6);
      }
      &:nth-child(2) {
        background-image: url("./../images/img_star_about.png");
        right: 28px;
        top: 26px;
        box-shadow: 0px 0px 30px 5px rgba(240, 158, 72, 0.6);
      }
      &:nth-child(3) {
        background-image: url("./../images/img_star_business.png");
        right: -16px;
        bottom: 132px;
        box-shadow: 0px 0px 30px 5px rgba(211, 103, 24, 0.5);
      }
      &:nth-child(4) {
        background-image: url("./../images/img_star_company.png");
        right: 28px;
        bottom: 26px;
        box-shadow: 0px 0px 30px 5px rgba(246, 128, 255, 0.5);
      }
      &:nth-child(5) {
        background-image: url("./../images/img_star_main.png");
        bottom: -15px;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 0px 0px 30px 5px rgba(80, 255, 235, 0.6);
      }
      &:nth-child(6) {
        background-image: url("./../images/img_star_about.png");
        left: 28px;
        bottom: 26px;
        box-shadow: 0px 0px 30px 5px rgba(240, 158, 72, 0.6);
      }
      &:nth-child(7) {
        background-image: url("./../images/img_star_business.png");
        left: -16px;
        top: 132px;
        box-shadow: 0px 0px 30px 5px rgba(211, 103, 24, 0.5);
      }
      &:nth-child(8) {
        background-image: url("./../images/img_star_company.png");
        left: 28px;
        top: 26px;
        box-shadow: 0px 0px 30px 5px rgba(246, 128, 255, 0.5);
      }
    }
  }
}
@keyframes plant-arrow {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  50% {
    transform: translateX(-20px);
    opacity: 0;
  }
  51% {
    transform: translateX(20px);
    opacity: 0;
  }
  52% {
    transform: translateX(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
//************************************
//# Visual animation
//************************************
.visual-area {
  opacity: 0;
  transition: opacity 1.5s 0.7s;
}
.is-animate .visual-area {
  opacity: 1;
}

///************************************
//# Responsive - tablet
//************************************
@include tablet {
  .visual-section {
    position: relative;
    padding-top: 20vmin;
  }
  .v-prev,
  .v-next {
    width: calc(50vw - 170px);
    height: 340px;
    .img-plant {
      width: 115px;
      height: 230px;
    }
    .btn-link {
      font-size: 15px;
    }
    .animate-arrow {
      width: 25x;
      &::before {
        width: 12px;
        height: 12px;
      }
    }
  }
  .v-crnt {
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    .img-plant {
      width: 340px;
      height: 340px;
    }
    // tablet 사이즈일때 하단 콘텐츠 여백이 너무 많이 남음
    .v-info {
      position: absolute;
      top: calc(20vmin + 380px); // visual-section 기준
      left: 0;
      width: 100vw;
      .title-group,
      .v-info-text {
        align-items: center;
        text-align: center;
      }
      .v-info-text {
        font-size: 16px;
      }
    }
    .v-desc {
      bottom: 50px;
      .txt {
        margin-bottom: 10px;
      }
    }
  }
}
///************************************
//# Responsive - mobile
//************************************
@include mobile {
  .visual-section {
    padding-top: 16vmin;
  }
  .v-prev,
  .v-next {
    width: auto;
    height: 220px;
    .img-plant {
      display: none;
    }
    .btn-link {
      font-size: 0;
      height: 220px;
    }
    .animate-arrow {
      background-color: transparent;
      width: 15px;
      height: 100%;
      margin: 0 20px;
      &::before {
        top: 50%;
        width: 25px;
        height: 25px;
        transform: translateY(calc(-50% - 15px)) rotate(45deg);
      }
    }
  }
  .v-crnt {
    .img-plant {
      position: relative;
      width: 220px;
      height: 220px;
      &::after {
        // content: "";
        position: absolute;
        top: 27px;
        left: 36px;
        display: block;
        border-radius: 50%;
        background: transparent;
        width: 157px;
        height: 157px;
        background-color: #50ffeb;
        box-shadow: 0 0 50px 11px #50ffeb;
        opacity: 0.6;
      }
    }
    .v-info {
      top: calc(16vmin + 240px); // visual-section 기준
      .title-group {
        .t-summary {
          font-size: 14px;
        }
        .t-title {
          font-size: 20px;
        }
      }
      .v-info-text {
        margin-top: 20px;
        line-height: 20px;
        font-size: 12px;
      }
    }
    .v-desc {
      display: none;
    }
    .m-desc {
      display: flex;
    }
  }
}

//************************************
//# Plant type1
//************************************
.v-crnt .plant.type1 {
  position: relative;
  border-radius: 50%;
  width: 320px;
  aspect-ratio: 1/1;
  .background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background: url("./../images/img_star_main.png") no-repeat 50% 50% / 480px;
    z-index: 1;
    transform-origin: 80% 50%;
  }
  .effect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    overflow: hidden;
  }

  .light {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background-image: radial-gradient(
      closest-corner at 80% 60%,
      rgba(255, 255, 255, 0.5) 10%,
      rgba(255, 255, 255, 0) 120%
    );
    z-index: 1;
    filter: blur(40px);
    animation: spin 8s linear infinite;
  }
  .shdow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background-image: radial-gradient(
      farthest-corner at 40px 40px,
      rgba(0, 0, 0, 0.67) 10%,
      rgba(0, 0, 0, 0) 120%
    );
    z-index: 1;
    transform-origin: 80% 50%;
    filter: blur(40px);
    animation: spin 8s linear infinite;
  }

  .luminor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(-225deg, #fff 0%, #50ffeb 52%, #fff 100%);
    border-radius: 50%;
    animation: spin 8s linear infinite;
    opacity: 0.8;
    span {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background: inherit;

      &:nth-child(1) {
        filter: blur(5px);
      }

      &:nth-child(2) {
        filter: blur(10px);
      }

      &:nth-child(3) {
        filter: blur(25px);
      }

      &:nth-child(4) {
        filter: blur(50px);
      }
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #222;
      border-radius: inherit;
    }
  }

  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }
}
@include tablet {
  .v-crnt .plant.type1 {
    width: 240px;
    & + .v-info {
      top: calc(20vmin + 280px);
    }
  }
}
@include mobile {
  .v-prev,
  .v-next {
    height: 300px;
  }
  .v-crnt {
    padding-top: 40px;
    .plant.type1 {
      width: 180px;
      & + .v-info {
        top: calc(20vmin + 240px);
      }
    }
  }
}
//************************************
//# 페이지 들어갈때
//************************************
.visual-area {
  .v-prev .btn-link,
  .v-next .btn-link,
  .v-crnt .v-info,
  .v-crnt .v-desc  {
    transition: opacity 0.5s 0.5s;
  }
}
.visual-area.beforePageTrans {
  .v-prev .btn-link,
  .v-next .btn-link,
  .v-crnt .v-info,
  .v-crnt .v-desc {
    opacity: 0;
  }
}
//************************************
//# 페이지 나올때
//************************************
.visual-area.afterPageTrans {
  .v-prev .btn-link,
  .v-next .btn-link,
  .v-crnt .v-info {
    opacity: 0;
  }
}
