html, body {
  widht: 100%;
  height: 100%;
}

.arrows {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.arrow {
  display: inline-block;
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  height: 40px;
  cursor: pointer;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  overflow: hidden;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
.page:nth-of-type(1) {
  background-color: #f44336;
}
.page:nth-of-type(2) {
  background-color: #009688;
}
.page:nth-of-type(3) {
  background-color: #03a9f4;
}
.page:nth-of-type(4) {
  background-color: #009688;
}
.page--current {
  visibility: visible;
  z-index: 1;
}
.page--animation-fromTop {
  transform: translateY(-100%) scale(0.8);
}
.page--animation-fromTop--animate {
  animation: page-fromTop 0.5s ease both;
}
.page--animation-toTop--animate {
  animation: page-toTop 0.5s ease both;
}
.page--animation-fromBottom {
  transform: translateY(100%) scale(0.8);
}
.page--animation-fromBottom--animate {
  animation: page-fromBottom 0.5s ease both;
}
.page--animation-toBottom--animate {
  animation: page-toBottom 0.5s ease both;
}
.page--animation-fromLeft {
  transform: translateX(-100%) scale(0.8);
}
.page--animation-fromLeft--animate {
  animation: page-fromLeft 0.5s ease both;
}
.page--animation-toLeft--animate {
  animation: page-toLeft 0.5s ease both;
}
.page--animation-fromRight {
  transform: translateX(100%) scale(0.8);
}
.page--animation-fromRight--animate {
  animation: page-fromRight 0.5s ease both;
}
.page--animation-toRight--animate {
  animation: page-toRight 0.5s ease both;
}
.page p {
  font-size: 50px;
  font-family: Arial;
  line-height: 50px;
  text-align: center;
  display: block;
  top: 50%;
  margin-top: -25px;
  position: absolute;
  color: #fff;
  width: 100%;
}

@keyframes page-fromTop {
  to {
    transform: translateY(0) scale(1);
  }
}
@keyframes page-toTop {
  to {
    transform: translateY(-100%) scale(0.8);
  }
}
@keyframes page-fromBottom {
  to {
    transform: translateY(0) scale(1);
  }
}
@keyframes page-toBottom {
  to {
    transform: translateY(100%) scale(0.8);
  }
}
@keyframes page-fromLeft {
  to {
    transform: translateX(0) scale(1);
  }
}
@keyframes page-toLeft {
  to {
    transform: translateX(-100%) scale(0.8);
  }
}
@keyframes page-fromRight {
  to {
    transform: translateX(0) scale(1);
  }
}
@keyframes page-toRight {
  to {
    transform: translateX(100%) scale(0.8);
  }
}