.v-crnt .img-plant {
  background: none;
  animation: none;
}
.v-crnt .img-plant .effect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  overflow: hidden;
}
.v-crnt .img-plant .light {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  background-image: radial-gradient(closest-corner at 80% 60%, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0) 120%);
  z-index: 1;
  filter: blur(40px);
  animation: spin 8s linear infinite;
}
.v-crnt .img-plant .shdow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  background-image: radial-gradient(farthest-corner at 40px 40px, rgba(0, 0, 0, 0.67) 10%, rgba(0, 0, 0, 0) 120%);
  z-index: 1;
  transform-origin: 80% 50%;
  filter: blur(40px);
  animation: spin 8s linear infinite;
}
.v-crnt .img-plant .luminor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  animation: spin 8s linear infinite;
  opacity: 0.8;
}
.v-crnt .img-plant .luminor span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: inherit;
}
.v-crnt .img-plant .luminor span:nth-child(1) {
  filter: blur(5px);
}
.v-crnt .img-plant .luminor span:nth-child(2) {
  filter: blur(10px);
}
.v-crnt .img-plant .luminor span:nth-child(3) {
  filter: blur(25px);
}
.v-crnt .img-plant .luminor span:nth-child(4) {
  filter: blur(50px);
}
.v-crnt .img-plant .luminor::after {
  content: none;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222;
  border-radius: inherit;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.c-item.main .img-plant {
  background-color: #00d5bc;
  box-shadow: none;
}
.c-item.main .img-plant .luminor {
  background: linear-gradient(-225deg, #fff 0%, #00d5bc 52%, #fff 100%);
}
.c-item.main .img-plant::after {
  content: none;
}
.c-item.about .img-plant {
  background-color: #b94d00;
  box-shadow: none;
}
.c-item.about .img-plant .luminor {
  background: linear-gradient(-225deg, #fff 0%, #b94d00 52%, #fff 100%);
}
.c-item.about .img-plant::after {
  content: none;
}
.c-item.business .img-plant {
  background-color: #a71fb3;
  box-shadow: none;
}
.c-item.business .img-plant .luminor {
  background: linear-gradient(-225deg, #fff 0%, #a71fb3 52%, #fff 100%);
}
.c-item.business .img-plant::after {
  content: none;
}
.c-item.company .img-plant {
  background-color: #e38900;
  box-shadow: none;
}
.c-item.company .img-plant .luminor {
  background: linear-gradient(-225deg, #fff 0%, #e38900 52%, #fff 100%);
}
.c-item.company .img-plant::after {
  content: none;
}