//************************************
//# pages - about
//************************************
.about {
  .w-section .title-group {
    margin-bottom: $m-section-full;
  }
  @include outline-circle(100px) {
    &::before {
      background: #000 url("../images/about_img_vision_01.png") no-repeat 50% -10px;
    }
  }
}
.about .img-desc-group {
  .img-visual {
    .visual-box {
      position: relative;
      display: flex;
      justify-content: center;
      background: transparent url("../images/about_img_vision_01.png") no-repeat
        50% 0;
      width: 350px;
      height: 265px;
      margin: 0 auto 10px;
      .outline-circle {
        position: absolute;
        top: 10px;
        left: 50%;
        width: 240px;
        transform: translateX(-50%);
      }
      .logo-icon {
        position: absolute;
        right: 50px;
        bottom: 0;
        background-color: #000;
        background-size: 120%;
        border: 3px solid $c-primary;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        z-index: 1;
      }
    }
    .img-summary {
      font-size: 16px;
      color: $c-primary;
      font-weight: 500;
      text-align: center;
      margin-bottom: 10px;
    }
    .img-logo {
      background: transparent url("../images/logo_letter.svg") no-repeat 50% 50% /
        cover;
      width: 110px;
      height: 20px;
      margin: 0 auto;
      font-size: 0;
    }
  }
}

.about .vision-icon-group {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
  width: 100%;
  .icon-item {
    flex: 1 1 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 72px;
    max-width: 450px;
    .icon {
      display: block;
      width: 180px;
      height: 180px;
    }
    .desc-tit {
      position: absolute;
      top: 230px;
      border-radius: 80px;
      background-color: $c-primary;
      width: 200px;
      line-height: 56px;
      text-align: center;
      font-weight: 600;
      color: #000;
      z-index: 2;
    }
    @include gradient-box(desc-txt) {
      padding: 70px 42px 54px;
      text-align: center;
      word-break: keep-all;
    }
    .desc-txt {
      width: 100%;
    }
  }
}

.w-section.l-timeline {
  .title-group {
    margin-bottom: 50px;
  }
  .timeline-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65vh;
    gap: 10px;
  }
  .timeline-area {
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
  }
  .btn-tl-prev,
  .btn-tl-next {
    position: relative;
    display: block;
    max-width: 300px;
    width: 100vmin;
    height: 40px;
    text-align: center;
    font-size: 0;
    .arrow {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20px;
      height: 20px;
      transform-origin: 50% 50%;
      transform: translate3d(-50%, 50%, 0);
      animation: arrow-movement 2s ease-in-out infinite;
      opacity: 0;
      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 2px;
        background: $c-primary;
        height: 1px;
        width: 16px;
      }
      &::before {
        transform: rotate(45deg) translateX(-50%);
      }
      &::after {
        transform: rotate(-45deg) translateX(50%);
      }
      &:nth-child(2) {
        animation-delay: 1s;
      }
    }
  }
  .btn-tl-prev {
    transform: rotate(180deg);
  }
  @keyframes arrow-movement {
    0% {
      opacity: 0;
      transform: translate(-50%, 10%);
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
@property --opacity {
  syntax: "*";
  initial-value: 0;
  inherits: false;
}
@keyframes to-opacity {
  0% {
    --opacity: 0;
  }
  100% {
    --opacity: 1;
  }
}
.about .timeline-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: -100px;
    bottom: 40px;
    display: block;
    background: linear-gradient(0deg, #38facc 0%, rgba(56, 250, 204, 0) 100%);
    width: 3px;
  }
  .timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    width: 50%;
    padding: 4px 0;
    .tl-wrap {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;
      .tl-dot {
        position: relative;
        display: block;
        .before,
        .after {
          position: absolute;
          top: 4px;
          display: block;
          background-color: $c-primary;
          width: 19px;
          height: 19px;
          border-radius: 50%;
        }
      }
      .tl-date {
        &::before,
        &::after {
          content: none;
        }
      }
    }
    &:nth-child(odd) {
      align-items: flex-start;
      margin-left: auto;
      padding-left: 50px;
      .tl-date::before,
      .tl-date::after {
        left: -10px;
      }
      .tl-dot {
        .before,
        .after {
          left: -60px;
        }
      }
    }
    &:nth-child(even) {
      align-items: flex-end;
      margin-right: auto;
      padding-right: 50px;
      text-align: right;
      .tl-date::before,
      .tl-date::after {
        right: -9px;
      }
      .tl-dot {
        .before,
        .after {
          right: -59px;
        }
      }
    }
    &:hover .tl-date::before {
      animation: timeline-bounce 1.6s 0.4s infinite;
    }
    &:hover .tl-dot .before {
      animation: timeline-bounce 1.6s 0.4s infinite;
    }
  }
  .tl-date {
    line-height: 1.2;
    font-size: 16px;
    color: $c-primary;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      display: block;
      background-color: $c-primary;
      width: 19px;
      height: 19px;
      border-radius: 50%;
    }
  }
  .tl-desc {
    font-size: 18px;
    line-height: 1.7;
    text-align: inherit;
  }
}

@keyframes timeline-bounce {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
.about .crew-wrap {
  width: 100%;
  overflow: hidden;
}
.about .crew-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  .crew {
    display: grid;
    grid-template-columns: minmax(0, 180px) minmax(200px, 1fr);
    align-items: center;
    justify-content: space-between;
    .crew-img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
      }
    }
    .crew-name {
      margin-bottom: 5px;
      font-size: 24px;
      font-weight: 600;
      > em {
        font-size: inherit;
        font-weight: inherit;
      }
    }
    .crew-copy {
      font-size: 15px;
      word-break: keep-all;
    }
  }
}

//************************************
//# Response
//************************************
@include tablet {
  .about .img-desc-group {
    .img-visual {
      .visual-box {
        background-size: 280px;
        background-position-y: -8px;
        width: 240px;
        height: 200px;
        margin-bottom: 30px;
        .outline-circle {
          top: 0;
          width: 200px;
          height: 200px;
          filter: none;
          &::before {
            background-size: 280px;
            background-position-y: -8px;
            width: 194px;
            height: 194px;
          }
          &::after {
            filter: blur(40px);
          }
        }
        .logo-icon {
          right: 20px;
          background-size: 120%;
          width: 56px;
          height: 56px;
        }
      }
    }
  }
  .about .vision-icon-group .icon-item .desc-txt {
    padding: 48px 20px 40px;
    line-height: 1.5;
  }
}
@include mobile {
  .about .w-section {
    margin-bottom: 96px;
    .title-group {
      margin-bottom: 50px;
    }
  }
  .about .img-desc-group {
    flex-direction: column;
    width: 100%;
    .img-visual {
      .visual-box {
        background-size: contain;
        width: 150px;
        height: 115px;
        margin-bottom: 20px;
        .outline-circle {
          top: 0;
          width: 110px;
          height: 110px;
          filter: none;
          &::before {
            background-size: 150px;
            background-position-y: -3px;
            width: 104px;
            height: 104px;
          }
          &::after {
            filter: blur(40px);
          }
        }
        .logo-icon {
          width: 36px;
          height: 36px;
        }
      }
      .img-summary,
      .img-logo {
        display: inline-block;
        vertical-align: middle;
        line-height: 20px;
      }
      .img-summary {
        margin-bottom: 0;
        margin-right: 10px;
      }
    }
    .vision-text > .vision-text-content {
      padding-left: 25px;
      padding-right: 25px;
      text-align: center;
      line-height: 1.75;
      > p {
        width: 100%;
      }
    }
  }
  .about .vision-icon-group {
    justify-content: flex-start;
    overflow: visible;
    gap: 21px;
    width: 100vw;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 21px;
    margin-top: 0px;
    overflow-y: hidden;
    overflow-x: scroll;
    .icon-item {
      flex: none;
      width: calc(100% - 42px);
      .desc-txt,
      .desc-txt-content {
        width: 100%;
        line-height: 1.75;
      }
    }
  }
  .w-section.l-timeline {
    .timeline-wrap {
      height: auto;
      gap: 0px;
    }
    .timeline-area {
      height: auto;
    }
    .btn-tl-prev,
    .btn-tl-next {
      display: none;
    }
  }
  .about .timeline-group {
    .tl-date {
      font-size: 14px;
    }
    .tl-desc {
      font-size: 12px;
    }
  }
  .about .timeline-group::before {
    top: -20px;
  }
  .about .crew-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .about .crew-group {
    grid-template-columns: 1fr;
    min-width: 78vw;
    max-width: 350px;
    .crew {
      grid-template-columns: 100px 1fr;
      gap: 20px;
      .crew-name {
        margin-bottom: 5px;
        font-size: 12px;
      }
      .crew-copy {
        font-size: 9px;
      }
    }
  }
}
//************************************
//# interaction
//************************************
.about.type1 {
  .vision-icon-group .icon-item {
    transition: all 0.5s;
    opacity: 0;
    transform: translateY(10px);
  }
  .isPageActive .vision-icon-group .icon-item {
    opacity: 1;
    transform: none;
    &:nth-child(1) {
      transition-delay: 0.5s;
    }
    &:nth-child(2) {
      transition-delay: 1s;
    }
  }
  .timeline-group {
    .timeline:nth-child(odd) {
      transition: all 0.5s;
      opacity: 0;
      transform: translateX(30px);
    }
    .timeline:nth-child(even) {
      transition: all 0.5s;
      opacity: 0;
      transform: translateX(-30px);
    }
    .tl-date::before,
    .tl-date::after {
      transition: all 1s;
      opacity: 0;
    }
  }
  .isPageActive .timeline-group {
    .timeline.is-animate {
      opacity: 1;
      transform: none;
      .tl-date::before,
      .tl-date::after {
        opacity: 1;
      }
    }
    @for $i from 1 through 13 {
      .timeline.is-animate:nth-child(#{$i}) {
        transition-delay: 0.5s;
        .tl-date::before,
        .tl-date::after {
          transition-delay: 0.8s;
        }
      }
    }
  }
  @include desktop-tablet {
    .crew-wrap {
      height: 428px;
    }
    .crew-group,
    .crew {
      transition: all 0.5s;
    }
    .crew-group {
      opacity: 0;
      &:nth-child(2) {
        transform: translateY(-100%);
      }
    }
    .crew {
      opacity: 0;
      transform: translateY(10px);
    }
    .isPageActive .crew-wrap {
      &:not(.is-animate) .crew-group:nth-child(1),
      &.is-animate .crew-group:nth-child(2) {
        opacity: 1;
        .crew {
          opacity: 1;
          transform: none;
          @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
              transition-delay: $i * 0.5s;
            }
          }
        }
      }
    }
  }
}
