//************************************
//# pages - business
//************************************
.business {
  .w-section .title-group {
    margin-bottom: $m-section-full;
  }
  .img-desc-group {
    .img-visual {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 350px;
      height: 343px;
    }
    .logo-avica,
    .logo-copykle {
      display: block;
      background: transparent no-repeat 50% 50% / contain;
      width: 100%;
      height: 100%;
    }

    .logo-avica {
      background-image: url("../images/business_avica.png");
    }
    .logo-copykle {
      background-image: url("../images/business_copykle.png");
    }

    .btn-move {
      align-self: flex-start;
      border-radius: 80px;
      background: #38facc;
      padding: 18px 30px;
      line-height: 1;
      font-size: 14px;
      color: #111;
      font-weight: 800;
      box-shadow: 0px 0px 15px 0px #72fce64d;
    }
  }

  .logo-group {
    max-width: 875px;
  }
  .customer-desc {
    margin-top: 70px;
    text-align: center;
    .accent {
      color: #54fad2;
    }
  }
}
.business-link {
  display: flex;
  align-items: center;
  justify-content: center;
  .link-text {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    .link-tit {
      font-size: 20px;
      font-weight: 600;
      color: $c-primary;
      text-align: inherit;
    }
    .link-desc {
      margin: 25px 0 35px;
      line-height: 1.5;
      text-align: inherit;
    }
    .link-icon {
      display: block;
      background: transparent url("../images/business_link_icon.png") no-repeat
        50% 50% / cover;
      width: 16px;
      aspect-ratio: 1 / 1;
      margin-top: 10px;
    }
  }
}

.slide-wrap {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  &::-webkit-scrollbar {
    display: none;
  }
  .slide {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: none;
    scroll-snap-align: center;
  }
}
.slide-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  .btn-page {
    display: block;
    background-color: #444;
    width: 100px;
    height: 3px;
    font-size: 0;
    &.is-active {
      background-color: $c-primary;
    }
  }
}
//************************************
//# circle glow
//************************************
.business-link {
  @include outline-circle(20px) {
    z-index: 1;
  }
  .btn-link {
    position: relative;
    display: block;
    width: 320px;
    aspect-ratio: 1 / 1;
    margin: 0 -15px;
    &:nth-child(even) .outline-circle {
      animation-direction: reverse;
    }
  }
}
//************************************
//# Response
//************************************
@include tablet {
  .business-link {
    flex-wrap: wrap;
    max-width: 721px;
    width: 100%;
    gap: 80px;
    .btn-link {
      margin: 0;
      width: calc(50% - 40px);
    }
  }
}
@include mobile {
  .business-link {
    flex-direction: column;
    gap: 0px;
    max-width: 390px;
    width: 78vw;
    .btn-link {
      width: 46vmin;
      max-width: 200px;
      margin: -35px 0;
      &:nth-child(even) {
        margin-left: auto;
      }
      &:nth-child(odd) {
        margin-right: auto;
      }
    }
    .link-text {
      .link-tit {
        font-size: 12px;
      }
      .link-desc {
        font-size: 10px;
        margin: 10px 0;
      }
      .link-icon {
        width: 10px;
      }
    }
  }
  .business .img-desc-group {
    flex-direction: column;
    gap: 60px;
    width: 100%;
    .img-visual {
      width: 120px;
    }
    .vision-text {
      gap: 20px;
      min-width: 50vw;
      padding-left: 32px;
      padding-right: 32px;
      text-align: center;
      .h3 {
        font-size: 12px;
      }
      .btn-move {
        align-self: center;
      }
    }
  }
  .slide-wrap {
    width: 100vw;
    gap: 20px;
    padding: {
      left: 200px;
      right: 200px;
    }
    .slide {
      width: auto;
    }
  }
  .slide-pagination {
    display: none;
  }
}

///************************************
//# type1 interaction
//************************************
.business {
  .business-link .btn-link {
    opacity: 0;
    transform: translateY(10px);
  }
  .isPageActive .business-link .btn-link {
    transition: all 1.5s;
    opacity: 1;
    transform: none;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.05s + 0.15s;
        z-index: 2;
      }
    }
  }
  .img-desc-group {
    .img-visual,
    .vision-text {
      opacity: 0;
      transform: translateY(10px);
    }
    .vision-text h3,
    .vision-text p,
    .vision-text .btn-move {
      opacity: 0;
    }
  }
  .isPageActive .img-desc-group {
    .img-visual {
      transition: all 1.5s;
      opacity: 1;
      transform: none;
    }
    .vision-text {
      transition: all 1.5s;
      opacity: 1;
      transform: none;
      transition-delay: 0.25s;
    }
    .vision-text h3 {
      transition: all 1.5s;
      opacity: 1;
      transition-delay: 0.5s;
    }
    .vision-text p {
      transition: all 1.5s;
      opacity: 1;
      transition-delay: 0.75s;
    }
    .vision-text .btn-move {
      transition: all 1.5s;
      opacity: 1;
      transition-delay: 1s;
    }
  }

  .isPageActive .slide.is-active .img-desc-group {
    .img-visual {
      transition: all 1.5s;
      opacity: 1;
      transform: none;
    }
    .vision-text {
      transition: all 1.5s;
      opacity: 1;
      transform: none;
      transition-delay: 0.25s;
    }
    .vision-text h3 {
      transition: all 1.5s;
      opacity: 1;
      transition-delay: 0.5s;
    }
    .vision-text p {
      transition: all 1.5s;
      opacity: 1;
      transition-delay: 0.75s;
    }
    .vision-text .btn-move {
      transition: all 1.5s;
      opacity: 1;
      transition-delay: 1s;
    }
  }
  .logo-group .logo-item {
    opacity: 0;
    transform: translateY(10px);
  }
  .isPageActive .logo-group .logo-row {
    .logo-item {
      transition: all 1.5s;
      opacity: 1;
      transform: none;
    }
    @for $row from 1 through 3 {
      @for $i from 1 through 4 {
        &:nth-child(#{$row}) .logo-item:nth-child(#{$i}) {
          transition-delay: ($i * 0.05s) + (0.05s * $row);
        }
      }
    }
  }
  .isPageActive .logo-group.marketing .logo-row {
    .logo-item {
      transition: all 1.5s;
      opacity: 1;
      transform: none;
    }
    @for $row from 1 through 3 {
      @for $i from 1 through 4 {
        &:nth-child(#{$row}) .logo-item:nth-child(#{$i}) {
          transition-delay: ($i * 0.05s) + (0.05s * $row);
        }
      }
    }
  }
  .customer-desc {
    opacity: 0;
  }
  .isPageActive .customer-desc {
    transition: all 1.5s;
    opacity: 1;
    transition-delay: 0.5s;
  }
}
