//************************************
//# pages - main
//************************************
.main {
  .w-section .title-group {
    margin-bottom: $m-section-full;
  }
  .section-desc {
    width: 100%;
    margin-top: $m-section-full;
    font-size: 18px;
    text-align: center;
  }
}
.main-about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .logo-about {
    width: 212px;
  }
  .about-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 0 50px;
    width: 100%;
    margin-top: 100px;
  }
  @include gradient-box(about) {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 280px;
    padding: 40px 22px 50px;
    .about-num {
      color: $c-primary;
      font-size: 36px;
    }
    .about-txt {
      margin-top: 32px;
    }
    &:nth-child(odd) {
      top: -180px;
    }
  }
}
.main-vision {
  position: relative;
  width: 100%;
  .logo-vision {
    position: absolute;
    top: 186px;
    left: 50%;
    width: 181px;
    height: 37px;
    aspect-ratio: 1 / 0.2044;
    transform: translateX(-50%);
  }
  .vision-cylinder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 955px;
    margin: 0 auto;
    aspect-ratio: 1 / 0.424;
  }
  .cylinder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 680px;
    margin: -61px 0;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 265px;
      background: linear-gradient(
        to right,
        rgba(84, 250, 210, 0),
        rgba(84, 250, 210, 0.1)
      );
    }
    &:nth-child(odd) {
      .cyl-txt {
        right: 98px;
        top: 68px;
      }
    }
    &:nth-child(even) {
      &::before {
        background: linear-gradient(
          to left,
          rgba(84, 250, 210, 0),
          rgba(84, 250, 210, 0.1)
        );
      }
      flex-direction: row-reverse;
      margin-left: auto;
      .cyl-txt {
        left: 98px;
        bottom: 68px;
      }
      .cyl-ellipse::before,
      .cyl-ellipse::after {
        animation-direction: reverse;
      }
    }
    .cyl-ellipse {
      @include gradient-circle(263px);
      > strong {
        color: $c-primary;
        font-size: 28px;
        font-weight: 600;
        z-index: 2;
      }
    }
    .cyl-txt {
      position: absolute;
      line-height: 1;
      font-size: 16px;
      color: #6f6f6f;
      > strong {
        line-height: 1;
        font-size: inherit;
        color: #fff;
      }
    }
  }
}
.bg-business {
  background: #000 url("../images/main_bg_business.png") no-repeat 50% 50% /
    100%;
}
.main-business {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 65px;
  padding-top: 25px;
  @include gradient-box(business-card, true) {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 360px;
    padding: 45px 0;
    &::before {
      opacity: 0.5;
    }
    &::after {
      content: "";
      border-radius: 15px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset 0 1px 2px 0px rgba(255, 255, 255, 0.3);
    }
  }
  .card-name {
    position: absolute;
    top: -25px;
    padding: 15px 30px;
    background: #38facc;
    box-shadow: 0px 0px 15px 0px #72fce64d;
    color: #111;
    font-weight: 700;
    border-radius: 80px;
  }
  .card-txt {
    margin-top: 24px;
    text-align: center;
  }
  .card-strong {
    margin-top: 14px;
    font-size: 18px;
    font-weight: 700;
    color: $c-primary;
  }
}
@include desktop-only {
  .main-partner {
    width: 1180px;
    .logo-row {
      &:nth-child(3n + 1) {
        justify-content: flex-start;
      }
      &:nth-child(3n + 2) {
        justify-content: flex-end;
      }
      &:nth-child(3n + 3) {
        justify-content: center;
      }
      .logo-item {
        width: 242px;
      }
    }
  }
}
.main-contract {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  width: 100%;
  .ctt {
    &-title {
      font-size: 36px;
      line-height: 72px;
      color: $c-primary;
    }
    &-subtit {
      margin-top: 28px;
      font-size: 18px;
      line-height: 28px;
    }
    &-desc {
      margin-top: 10px;
      font-size: 14px;
      line-height: 28px;
    }
  }
  .btn-download {
    border-radius: 80px;
    background: #38facc url("./../images/btn_download.png") no-repeat 20px 50%;
    margin-top: 60px;
    padding: 15px 20px 15px 44px;
    line-height: 1;
    font-size: 14px;
    color: #111;
    font-weight: 800;
  }
  .ctt-info {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 10px 40px;
    .info-item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 14px;
    }
    .info-title {
      font-size: 20px;
      font-weight: 600;
      color: $c-primary;
    }
    .info-desc {
      font-size: 18px;
    }
  }
  .contract-info {
    flex: 1;
  }
  .contract-form {
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-left: auto;
    max-width: 440px;
    width: 40vw;
    .btn-send {
      background: transparent url("./../images/logo_icon.svg") no-repeat 0 50% /
        54px;
      margin-left: auto;
      padding-left: 55px;
      height: 54px;
      line-height: 54px;
      font-weight: 600;
      color: $c-primary;
    }
  }
  .input-wrap {
    position: relative;
    width: 100%;
    > input {
      border-bottom: 1px solid #fff;
      width: 100%;
      padding: 16px 0;
      height: 61px;
      font-size: 18px;
      box-sizing: border-box;
      &:focus,
      &.has-value {
        border-bottom-color: $c-primary;
        + label {
          line-height: 1;
          font-size: 8px;
          color: $c-primary;
        }
      }
    }
    > label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 61px;
      font-size: 18px;
      color: #969696;
    }
  }
}

//************************************
//# Response tablet
//************************************
@include tablet {
  .main-about {
    .logo-about {
      width: 17vmin;
      margin-top: 0;
    }
    .about-wrap {
      width: calc(100vw - 42px);
      gap: 0 20px;
      margin-top: 50px;
      .about:nth-child(odd) {
        top: -100px;
      }
    }
  }
  .main-vision {
    .logo-vision {
      top: 26%;
      width: 15vmin;
    }
    .vision-cylinder {
      max-width: 705px;
      width: 85%;
    }
    .cylinder {
      max-width: 680px;
      width: calc(100% - 22.28vmin);
      margin: -6vmin 0;
      &:nth-child(odd) .cyl-txt {
        top: 5vmin;
        right: 6vmin;
        font-size: 12px;
      }
      &:nth-child(even) .cyl-txt {
        bottom: 5vmin;
        left: 6vmin;
        font-size: 12px;
      }
      .cyl-ellipse {
        width: 22.28vmin;
        > strong {
          font-size: 22px;
        }
      }
    }
  }
}
@include tablet-only {
  .main-business {
    gap: 20px;
    .business-card {
      width: calc(33.3333vw - 36px);
      height: auto;
      aspect-ratio: 1/1.38;
    }
  }
}
@include mobile {
  .main {
    .section-desc {
      font-size: 12px;
    }
    .w-section .title-group {
      margin-bottom: 30px;
    }
  }
  .main-about {
    .logo-about {
      display: none;
    }
    .about-wrap {
      justify-content: flex-start;
      order: 2;
      gap: 0 20px;
      width: 100vw;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 21px;
      margin-top: 0px;
      overflow-y: hidden;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      &::-webkit-scrollbar {
        display: none;
      }
      .about {
        flex: none;
        width: 66vw;
        scroll-snap-align: center;
      }
      .about:nth-child(odd) {
        top: 0;
      }
    }
  }
  .main-vision {
    margin-top: 0;
    .logo-vision {
      display: none;
    }
    .vision-cylinder {
      width: 263px;
      height: 242px;
      margin: 0 auto;
    }
    .cylinder {
      aspect-ratio: 1/1;
      width: auto;
      margin: -15% 0;
      .cyl-txt {
        display: none;
      }
      &:nth-child(odd) .cyl-ellipse > strong::after {
        content: " System Design Process";
        color: #6f6f6f;
      }
      &:nth-child(even) .cyl-ellipse > strong::after {
        content: " Generative AI Service";
        color: #6f6f6f;
      }
      .cyl-ellipse {
        width: 176px;
        padding: 0 31px;
        > strong {
          font-size: 12px;
        }
      }
    }
  }
  .bg-business .section-desc {
    order: 1;
    margin: 0 auto 45px;
  }
  .main-business {
    justify-content: flex-start;
    order: 2;
    gap: 20px;
    width: 100vw;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 21px;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
      display: none;
    }
    .business-card {
      flex: none;
      height: 250px;
      scroll-snap-align: center;
    }
    .card-txt,
    .card-strong {
      margin-top: 0;
    }
  }
  .main-contract {
    flex-direction: column;
    gap: 44px;
    .ctt-title,
    .ctt-desc {
      font-size: 12px;
      line-height: 1.75;
    }
    .ctt-subtit {
      font-size: 16px;
      margin: 0 auto 34px;
    }
    .contract-info {
      text-align: center;
    }
    .ctt-info {
      display: none;
    }
    .contract-form {
      align-items: center;
      margin-left: 0;
      width: 100%;
      gap: 30px;
      .btn-send {
        margin-left: 0;
      }
    }
    .input-wrap > input {
      padding: 10px 0;
      height: 40px;
      font-size: 12px;
    }
    .input-wrap > label {
      line-height: 40px;
      font-size: 12px;
      text-align: center;
    }
  }
}

//************************************
//# page interaction
//************************************
.main {
  .section-desc {
    opacity: 0;
  }
  .isPageActive .section-desc {
    transition: all 1.5s;
    opacity: 1;
    transition-delay: 0.25s;
  }
  .main-about .logo-about {
    opacity: 0;
    transform: translateY(10px);
  }
  .isPageActive .main-about .logo-about {
    transition: all 1.2s;
    opacity: 1;
    transform: none;
    transition-delay: 0.25s;
  }
  .main-about .about-wrap .about {
    opacity: 0;
    transform: translateY(50px);
  }
  .isPageActive .about-wrap .about {
    transition: all 0.5s;
    opacity: 1;
    transform: none;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.15s + 0.05s;
      }
    }
  }
  .main-vision .logo-vision {
    opacity: 0;
    transition: opacity 1.2s 0s;
  }
  .cylinder {
    &:nth-child(1) .cyl-ellipse {
      transform: translateX(100%);
    }
    &:nth-child(2) .cyl-ellipse {
      transform: translateX(-100%);
    }
    &::before {
      transition: opacity 1.2s;
      opacity: 0;
    }
    .cyl-ellipse {
      transition: all 1.2s;
    }
    .cyl-txt {
      opacity: 0;
    }
  }
  .isPageActive .main-vision .logo-vision {
    transition: all 0.5s;
    opacity: 1;
    transition-delay: 0.75s;
  }
  .isPageActive .main-vision .cylinder {
    &::before {
      opacity: 1;
      transition-delay: 0.25s;
    }
    &:nth-child(1) .cyl-ellipse,
    &:nth-child(2) .cyl-ellipse {
      transform: none;
    }
    .cyl-txt {
      opacity: 1;
      transition-delay: 1s;
    }
  }
  .main-business .business-card {
    opacity: 0;
    transform: translateY(5px);
  }
  .isPageActive .main-business .business-card {
    transition: all 0.5s;
    opacity: 1;
    transform: none;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.15s;
      }
    }
  }
}
